/* Base styles for body */
/* ========== RESET AND BASE ========== */
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* =================================== */     
/*         Header styling */
/* =================================== */
/* Header styling */
.site-header {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 999;
}
.site-header .nav-menu{

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;           /* ⬅︎ 그리드를 가로로 펼쳐서 1fr이 공간을 먹을 수 있게 */
  max-width: 1200px;     /* ⬅︎ 전체 퍼짐 1200px 제한 */
  margin: 0 auto;        /* ⬅︎ 가운데 고정 */
}
.nav-right{
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo{
  order: 2;
  justify-self: center;
}
.logo img {
  height: 80px;
  display: block;
}
.nav-links {
  display: flex;
  gap: 20px;
  order: 1;
}
.nav-links li a {
  color: #567896;
  font-weight: bold;
  transition: color 0.3s;
}
.nav-links li a:hover {
  color: #345265;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
}

.login-button {
  order: 3;
  padding: 8px 16px;
  background-color: #567896;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-left: 10px;
}

.login-button:hover {
  background-color: #345265;
}



/* =================================== */
/*   HERO SECTION - Two-column layout  */
/* =================================== */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px;
  background-color: #ffffff; 
  flex-wrap: wrap;
}

/* ✅ hero-text는 Dandy 느낌 카드화 */
.hero-text {
  background-color: #f0f2f5;
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 0px;
  box-shadow: 0 10px 20px rgba(44, 44, 44, 0.829);
}

/* ✅ 타이틀 & 본문 스타일 보강 */
.hero-text h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 450;
  color: #567896;
  margin-bottom: 0px;
  line-height: 60px;
}

.hero-text p {
  text-align: left;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0px;
  padding-bottom: 60px;
  padding-top:60px
}

/* ✅ 이메일 + 버튼 정렬 */
.hero-email {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.hero-email-input[type="email"] {
  flex: auto;
  padding: 8px 12px;
  font-size: 1rem;
  border: 4px solid #ccc;
  border-radius: 8px;
  min-width: 100px;
  max-width: 400px;
}

.hero-email button {
  display: flex;
  background-color: #2c5282;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  white-space: nowrap;
  padding-bottom: 10px;
}

.hero-button button:hover {
  background-color: #23466d;
}



/* =================================== */
/*           Feature SECTION          */
/* =================================== */
.feature-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 40px;
}

.feature-row .text-block,
.feature-row .image-block {
  flex: 1;
  max-width: 500px;
}

.feature-row .text-block h2 {
  color: #567896;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.feature-row .text-block p {
  color: #444;
  font-size: 1rem;
  line-height: 1.6;
}

.feature-row .image-block img {
  aspect-ratio: 4/3;
  width: 100%;
  border-radius: 8px;
  /*box-shadow: 0 10px 20px rgba(44, 44, 44, 0.829);*/
}

.feature-row .row-right {
  flex-direction: row-reverse;
}


/* =================================== */
/*           WhyCID SECTION          */
/* =================================== */

.whyCID {
  padding: 60px 40px;
  text-align: center;
}

.whyCID h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #567896;
  margin-bottom: 20px;
}


/* =================================== */
/*           Products SECTION          */
/* =================================== */
.products {
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.products h2 {
  color: #567896;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 40px;
  justify-items: center;

  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(44, 44, 44, 0.829);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 200px;
}

.product-card:hover {
  transform: scale(1.1); /* blowout effect */
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
  outline: 8px solid #2c5282;
}

.product-card img {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-bottom: 10px;
}

.product-type {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #2a5d9f;
}
.product-card-6{
  text-align: center;
  background-color: #2a5d9f;
  color: rgb(253, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 6px;
  max-width: 200px;
  box-shadow: 0 10px 20px rgba(44, 44, 44, 0.829);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card-6 h1 {
  color:rgb(255, 255, 255);
  padding: 60px;
  text-wrap: nowrap;

}
.product-card-6:hover{
  outline: 8px solid #2c5282;
  transform: scale(1.1); /* blowout effect */
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}



/* =================================== */
/*           Connections SECTION          */
/* =================================== */

.connections {
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.conntections_text{
   padding-bottom: 0px;
}
.connections h2 {
  color: #567896;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.connections p{
  text-align: left;
    font-size: 1rem;
}

.connection-grid{
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 60px;
  max-width: 100%;
  margin: 0 auto;
}
.connection-track{
  display: flex;
  animation: scrollLogos 20s linear infinite;
  gap: 32px;
}

.connection-track img {
  height: 120px;
  aspect-ratio: 3/2;
  max-width: 200px;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(44, 44, 44, 0.829);
}

.connection-track img:hover {
  transform: scale(1.1); /* blowout effect */
  outline: 8px solid #2c5282;
}
.connection-grid:hover .connection-track {
  animation-play-state: paused;
}
@keyframes scrollLogos {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


/* =================================== */
/*           Footer SECTION          */
/* =================================== */

footer {
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 60px;
}

/* ======================================================================================== */
/*                             REACTIVE Layout                                   */
/* ======================================================================================== */
/* ──────────────────────────────
  📱 MOBILE (iPhone 등, ≤600px)
────────────────────────────── */
@media (min-width: 240px) and (max-width: 600px) {
 
  .nav-menu {
    width: 100%;
    position:relative;
    grid-template-columns: 1fr auto 1fr;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 8px;
    right: auto;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(44, 44, 44, 0.2);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
  .logo{
    justify-self: center;
    grid-column: 2;
    margin:0;
  }
  .login-button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  .hero{
      padding: 40px 20px;
      flex-wrap: wrap;
  }

  .feature-row,
  .feature-row .row-right {
    flex-direction: row !important;
    text-align: center;
  }

  .hero-text,
  .text-block,
  .image-block {
    width: auto;
  }
  .hero-text p {
    text-wrap: wrap;
  }
  .hero-email-input{
  }
  .hero-button{
    padding-top: 2px;
  }

  .feature-row .image-block img {
    max-width: 80%;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 10px;
    justify-items: center;

    max-width: 400px;
    margin: 0 auto;
  }

}


/* ──────────────────────────────
  💻 TABLET (iPad, 601px ~ 1024px)
────────────────────────────── */
@media (min-width: 601px) and (max-width: 1024px) {
  .nav-menu {
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }

  .login-button {
    margin-left: auto;
  }
  .hero{
    padding: 100px 100px;

  }

  .feature-row,
  .feature-row.row-right {
    flex-direction: row !important;
    text-align: center;
  }

  .hero-text,
  .text-block,
  .image-block {
    padding: 40 30px;
  }
  .hero-text p{
    text-wrap: wrap;
  }

  .feature-row .image-block img {
    max-width: 95%;
  }
}

